<h1>Projects</h1>

<%= link_to "New Project", new_project_path, class: "btn btn-primary mb-3" %>

<div class="row">
  <% @projects.each do |project| %>
    <div class="col-md-4">
      <div class="card mb-4">
        <% if project.attachments.attached? %>
          <%= image_tag project.attachments.first, class: "card-img-top", width: 300 if project.attachments.first.content_type.start_with?("image/") %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= project.name %></h5>
          <p class="card-text"><%= truncate(project.description, length: 100) %></p>
          <%= link_to "View Project", project_path(project), class: "btn btn-success" %>
          <%= link_to "Delete", project_path(project), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
