<!DOCTYPE html>
<html>
<head>
  <title>Restaurant</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", defer: true %>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">Restaurants</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Profile", edit_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container mt-4">
    <%= yield %>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
